/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

#root{
overflow-x: hidden;

}

:root {
  --Color-primary: #a016c7;
  --Color-primary-Focus: #c115bb;
  --Color-primary-Negative: #59323f;
  --Grey-0: #ffffff;
  --Grey-1: #868e96;
  --Grey-2: #343b41;
  --Grey-3: #212529;
  --Grey-4: #121214;
  --Sucess: #3fe864;
  --Negative: #e83f5b;
}
