/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

#root{
overflow-x: hidden;
}

:root {
  --Color-primary: #a016c7;
  --Color-primary-Focus: #c115bb;
  --Color-primary-Negative: #59323f;
  --Grey-0: #ffffff;
  --Grey-1: #868e96;
  --Grey-2: #343b41;
  --Grey-3: #212529;
  --Grey-4: #121214;
  --Sucess: #3fe864;
  --Negative: #e83f5b;
}
